.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
}
.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
}
.logo-section {
    text-align: center;
    margin-bottom: 20px;
}
.logo-link {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #27d868;
}
.logo-link:hover {
    text-decoration: underline;
}